aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
blinker
certifi
charset-normalizer
click
cloup
colorama
dataclasses-json
decorator
distro
ffmpeg-python
Flask
frozenlist
future
glcontext
greenlet
h11
httpcore
httpx
httpx-sse
idna
imageio-ffmpeg
isosurfaces
itsdangerous
Jinja2
jiter
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
manim
ManimPango
mapbox_earcut
markdown-it-py
MarkupSafe
marshmallow
mdurl
moderngl
moderngl-window
multidict
multipledispatch
mypy-extensions
networkx
numpy
openai
orjson
packaging
pillow
pinecone
pinecone-plugin-inference
pinecone-plugin-interface
propcache
pycairo
pydantic
pydantic-settings
pydantic_core
pydub
pyglet
Pygments
pyrr
python-dateutil
python-dotenv
PyYAML
requests
requests-toolbelt
rich
scipy
screeninfo
setuptools
six
skia-pathops
sniffio
SQLAlchemy
srt
svgelements
tenacity
tqdm
typing-inspect
typing_extensions
urllib3
watchdog
Werkzeug
yarl
